name: GitHub Pages

on:
  push:
    branches:
      - master

env:
  CC: gcc
  # Default target architecture for native compilation
  TARGET_ARCH: ""

jobs:
  Documentation:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install asciidoctor mscgen graphviz doxygen
        sudo apt-get install libconfig-dev
    - name: Build
      run: ./scripts/build.sh -d
    - name: Before deploy
      run: |
        pushd doc
        mkdir gh-pages
        cp -r event_machine_api/html/* gh-pages/
        popd
    - name: Deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: crazy-max/ghaction-github-pages@v2.3.0
      with:
        allow_empty_commit: false
        build_dir: ./doc/gh-pages
        target_branch: gh-pages
